<h2>Bracket Creator</h2>

<button (click)="generateBracket(4)">4 Team Bracket</button>
<span>&nbsp;</span>
<button (click)="generateBracket(8)">8 Team Bracket</button>
<span>&nbsp;</span>
<button (click)="generateBracket(16)">16 Team Bracket</button>

<hr />

<div class="alt-bracket">
    <div class="cols" *ngIf="bracketSize.columns >= 4">
        <ng-container *ngFor="let match of col4; let i = index">
                <div class="match-box">
                    <div class="team-box">
                        {{ match.team1.name}}
                    </div>
                    <div class="team-box">
                        {{ match.team2.name}}
                    </div>
                </div>
        </ng-container>     
    </div>
    <div class="cols" *ngIf="bracketSize.columns >= 3">
        <ng-container *ngFor="let match of col3; let i = index">
                <div class="match-box">
                    <div class="team-box">
                        {{ match.team1.name}}
                    </div>
                    <div class="team-box">
                        {{ match.team2.name}}
                    </div>
                </div>
        </ng-container>
    </div>
    <div class="cols" *ngIf="bracketSize.columns >= 2">
        <ng-container *ngFor="let match of col2; let i = index">
                <div class="match-box">
                    <div class="team-box">
                        {{ match.team1.name}}
                    </div>
                    <div class="team-box">
                        {{ match.team2.name}}
                    </div>
                </div>
        </ng-container>
    </div>
    <div class="cols" *ngIf="bracketSize.columns >= 1">
        <ng-container *ngFor="let match of col1; let i = index">
                <div class="match-box">
                    <div class="team-box">
                        {{ match.team1.name}}
                    </div>
                    <div class="team-box">
                        {{ match.team2.name}}
                    </div>
                </div>
        </ng-container>
    </div>
</div>

<hr />

<p>Rows: {{ bracketSize.rows }}</p>
<p>Cols: {{ bracketSize.columns }}</p>
<p>Teams: {{ bracketSize.teams }}</p>