<h2>Division Information</h2>

<ul class="divisions">
  <li>
    <p class="labels">Division Name</p>
    <p class="labels"># Teams</p>
    <p class="labels"># Courts</p>
    <p class="labels">AM</p>
    <p class="labels">PM</p>
    <p class="labels">&nbsp;&nbsp;</p>
  </li>
  <div cdkDropList class="division-list" (cdkDropListDropped)="drop($event)">
    <li class="division-box" *ngFor="let division of divisions; let i = index" cdkDrag>
        <input id="name" [(ngModel)]="division.name" placeholder="name" />
        <input type="number" min="0" onkeyup="if(this.value < 0){this.value = 0}" id="teams" [(ngModel)]="division.teams" placeholder="0" />
        <p id="courts">{{ calculateCourts(division.teams) }}</p>
        <p id="courts" (click)="setAM(i)">{{division.AM}}</p>
        <p id="courts" (click)="setPM(i)">{{division.PM}}</p>
        <img src="..\assets\delete.png" (click)="delete(i)"/>
      </li>
  </div>
  <hr>
  <li class ="totals">
    <p class="labels">TOTAL</p>
    <p class="labels">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ totalTeams() }}</p>
    <p class="labels">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ totalCourts() }}</p>
    <p class="labels">&nbsp;&nbsp;&nbsp;{{ totalAMCourts() }}</p>
    <p class="labels">&nbsp;&nbsp;&nbsp;{{ totalPMCourts() }}</p>
    <p class="labels"></p>
  </li>
</ul>

<div class="buttons">
  <button (click)="addDivision()">Add Division</button>
</div>

<p id="message">Click values to assign courts to AM or PM</p>