.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .title {
    color: white !important ;
    margin-left: 10px;
  }

  .spacer {
    flex: 1;
  }